absl-py>=0.1.10
anytree==2.12.1
attrs==23.2.0
Automat==22.10.0
bitstring==3.1.9
BitVector==3.5.0
click==7.1.2
constantly==23.10.4
cqc==3.2.3
daemons==1.3.2
dill==0.3.8
flake8==3.9.2
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
mccabe==0.6.1
mpmath==1.3.0
networkx==2.8.8
numpy==1.24.4
pbr==6.0.0
psutil==5.9.8
pycodestyle==2.7.0
pycryptodome==3.20.0
pyflakes==2.3.1
pyhamcrest==2.1.0
pypinyin==0.30.0
python-dateutil==2.9.0.post0
qiskit==1.0.2
qiskit-aer==0.14.0.1
rustworkx==0.14.2
scipy==1.10.1
simulaqron==3.0.16
six==1.16.0
stevedore==5.2.0
symengine==0.11.0
sympy==1.12
typing-extensions==4.11.0
zope.interface==6.2
